@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;500&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@400;500&family=Righteous&display=swap');

:root {
    --destaque-prim: #EC6500;
    --destaque-sec: #519F21;
    --primaria: #0091bd;
    --paragrafo: #54595F;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

/* primeira section */
.elementos-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 40px 0px;
  text-align: center;
}

.container-sobre{
    padding: 10px;
    width: 1140px;
}

.container-sobre-h2 {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #0090DF;
}

.container-sobre-p {
    margin: 20px 0px 20px 0px;
    font-size: 19px;
    color: #54595F;
    font-weight: 600;
}


.informações {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.info h3 {
    color: #0090DF;
}

.info p {
    color: #54595F;
}


/* segunda section */
.contrate {
    display: flex;
    justify-content: center;
}

.contrate-content {
    display: flex;
}

.contrate-online, .seja-diarista{
    text-align: center;
    width: 60vh;
    padding: 10px;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.img-box img {
    width: 90%;
}

.img-content-box h3 {
    margin: 19px 0px 10px 0px;
    color: var(--primaria);
}

.img-content-box p {
    color: var(--paragrafo);
}

.contrate-online-btn {
    background-color: var(--destaque-sec);
    padding: 0.6rem 2rem 0.6rem 2rem;
    border-radius: 0.75rem;
    color: #ffff;
    transition: all 0.4s;
}

.seja-diarista-btn {
    background-color: var(--primaria);
    padding: 0.6rem 2rem 0.6rem 2rem;
    border-radius: 0.75rem;
    color: #ffff;
    transition: all 0.4s;
}

.seja-diarista-btn:hover{
    background-color: #EC6500;
}

.contrate-online-btn:hover {
    background-color: #EC6500;
}

/* terceira section */
.servicos {
    display: flex;
    justify-content: center;
    padding: 5rem 0rem 5rem 0rem;
}

.servicos-content {
    text-align: center;
    padding: 0.5rem;
}

.section-servicos-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.servicos-title {
    margin-bottom: 2rem;
    color: var(--primaria);
    font-size: 1.2rem;
    font-weight: 700;
}

.servico {
    text-align: center;
    width: 50vh;
    padding: 10px;
}

.servico-img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.servico-img-box img {
    width: 60%;
}

.servico-img-box-content h3 {
    color: var(--primaria);
}

.servico-img-box-content p {
    color: var(--paragrafo);
}

/* quarta section */
.sobre {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    color: var(--primaria);
    font-size: 1.2rem;
    font-weight: 700;
}

/* quinta section */
.sobre-contratar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.sobre-contratar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.content-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    padding: 10px;
}

.content-sobre img {
    width: 50%;
}

.box-sobre h3 {
    color: var(--primaria);
}

.box-sobre p {
    color: var(--paragrafo);
}

/* sexta section */
.quem-somos {
    background: var(--destaque-prim);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-quem-somos {
    align-items: center;
    text-align: center;
    width: 70rem;
    padding: 3rem;
}

.container-quem-somo-title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: #ffff;
    font-weight: 700;
}

.container-quem-somos-content p {
    margin-top: 1rem;
    color: #ffff;
}

/* section formulario */
.nossos-contatos {
    display: flex;
    justify-content: center;
    background: var(--destaque-prim);
    padding: 3rem 0rem 3rem 0rem;
}

.container-nossos-contatos {
    padding: 0.5rem;
    width: 80%;
}


.content-nossos-contantos-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: #ffff;
}

.section-contatos {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.section-contatos > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-nossos-contatos {
    width: 100%;
    padding: 0.5rem;
}

.content-nossos-contatos > div {
    margin-bottom: 0.5rem;
    text-align: center;
    color: #ffff;
}

.container-redes-sociais {
    display: flex;
    margin-top: 2rem;
    
}

.container-redes-sociais a img {
    width: 40%;
}

.contatos-form {
    width: 100%;
    padding: 0.5rem;
}

.contatos-form input, textarea:focus {
    outline: 0;
}

.name, .email, .telefone, .mensagem {
    padding: 0.5rem;
}

.name input {
    width: 100%;
    padding: 0.5rem;
}

.email-telefone {
    display: flex;
}

.email, .telefone {
    width: 100%;
}

.email input, .telefone input {
    width: 100%;
    padding: 0.5rem;
}

.mensagem textarea{
    width: 100%;
    height: 15vh;
    padding: 5px 10px 5px 10px;
}

  .img-box img,
  .servico-img-box img,
  .content-sobre img {
      max-width: 100%;
      height: auto;
  }
  
@media (max-width: 768px) {
 
    .navigation, .contatos {
        justify-content: center;
        width: 100%;
    }
    
    .navigation ul li {
        position: fixed;
        overflow: hidden;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        gap: -10px;
        transition: 0.3s;
    }

    #seja-diarista {
        background-color: #0091bd;
        padding: 0.938rem 2.813rem 0.938rem 2.813rem;
        border-radius: 0.75rem;
        color: #ffff;
        transition: all 0.5s;
    }
    
    #contrate-online {
        background-color: #519F21;
        padding: 0.938rem 2.813rem 0.938rem 2.813rem;
        border-radius: 0.75rem;
        color: #ffff;
        transition: all 0.2s;
    }

    .elementos-sobre .container-sobre .informações, .contrate .contrate-content, .servicos .servicos-content .section-servicos-content, .sobre-contratar .container, .quem-somos .container-quem-somos, .nossos-contatos .container-nossos-contatos-content .section-contatos > div, .duvidas-frequentes .container-duvidas-frequentes .paineis-duvida{
        display: block;
        margin: 0;
        width: 100%;
    }

    .container-sobre,
    .contrate-online,
    .seja-diarista,
    .servico,
    .content-sobre {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }
}