:root {
    --destaque-prim: #EC6500;
    --destaque-sec: #519F21;
    --primaria: #0091bd;
    --paragrafo: #54595F;
}

/* section dúvidas */
.duvidas-frequentes {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.container-duvidas-frequentes {
    align-items: center;
    max-width: 90%;
    padding: 1rem;
}

.container-duvidas-frequentes-title {
    margin-bottom: 2rem;
    color: var(--primaria);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.container-duvidas-frequentes-info {
    margin-bottom: 2rem;
    color: var(--paragrafo);
}

.container-duvidas-frequentes-painel {
    text-align: center;
}

.paineis-duvida {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.painel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: solid 0.5px #ccc;
    width: 100%;
}

.painel-title span {
    cursor: pointer;
    transition: all 0.3s;
}

.painel-title span:hover {
    color: var(--destaque-prim);
}

/* efeito de abrir e fechar a duvida */
.painel-content {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 1rem;
    transition: all 0.3s ease-out;
}

.mostrar {
    max-height: 200px;
    padding: 1rem 0rem 1rem;
}

/* ------------------------------------ */

.painel-content p {
    color: var(--paragrafo);
}

@media (min-width: 1024px) {
    .container-duvidas-frequentes {
        margin-left: 10rem;
        margin-right: 10rem;
        padding: 0.5rem;
    }

    .container-duvidas-frequentes-title {
        font-size: 1.25rem;
    }
}


@media (max-width: 768px) {
    .container-duvidas-frequentes {
        margin-left: 5rem;
        margin-right: 5rem;
        padding: 0.5rem;
    }

    .container-duvidas-frequentes-title {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .container-duvidas-frequentes {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .painel-title {
        align-items: flex-start;
    }
}

