/* footer */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}


footer {
    background-color: #ffffff;
    color: #000000;
    padding: 4rem 0 0;
    box-shadow: 0 0.1rem 0.5rem #ccc;
}

.container-footer {
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap; /* Permite que os itens "quebrem" para a linha de baixo em telas menores */
}

.footer-section {
    margin-right: 20px;
    text-align: justify;
    width: 30%; /* Define uma largura flexível para as seções */
    min-width: 200px; /* Define uma largura mínima */
}

.footer-section h3 {
    color: #000000;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-bottom {
    display: flex;
    margin-top: 20px;
    justify-content: end;
    padding: 1rem;
    width: 100%; /* Garante que a seção ocupe toda a largura */
    text-align: center;
}

.footer-section a {
    color: #000000;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Empilha as seções verticalmente */
        align-items: center;
    }

    .footer-section {
        width: 100%; /* Cada seção ocupa 100% da largura */
        margin-bottom: 2rem; /* Espaçamento entre as seções */
    }

    .footer-bottom {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 2rem 0 0; /* Reduz o padding para telas menores */
    }

    .footer-section {
        text-align: center; /* Centraliza o conteúdo */
    }

    .footer-bottom {
        padding: 1rem 0;
    }
}
