/* footer */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  footer {
    background-color: #ffffff; 
    color: #000000; 
    padding: 4rem 0 0 ; 
    box-shadow: 0 0.1rem 0.5rem #ccc;
  }
  
  .container-footer {
    display: flex;
    justify-content: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  
  .footer-section {
    margin-right: 20px; 
    text-align: justify;
    width: 100%;
  }
  
  .footer-section h3 {
    color: #000000; 
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 8px; 
  }
  
  .footer-bottom {
    display: flex;
    margin-top: 20px;
    justify-content: end;
    padding: 1rem;
  }
  
  .footer-section a {
    color: #000000; 
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }